/*fonts*/
/*colors*/
/*media queries*/
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-size: 18px; }

.bg-div {
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  position: fixed; }

.container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: [full-start] 0.5fr [content-start] minmax(70px, 100px) 6fr [content-end] 0.5fr [full-end];
  grid-template-rows: 90vh repeat(3, minmax(50vh, max-content)) 30px; }
  @media only screen and (max-width: 375px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, minmax(20vh, max-content)); } }

.section {
  font-family: "Bad Script";
  width: 100vw; }

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 5;
  background: #483d8bab;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.initials {
  font-family: "Bad Script", cursive;
  font-size: 35px;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 25px; }

a {
  color: #000;
  text-decoration: none; }
  a :hover {
    color: #fff8f1; }

.projects-header {
  margin: 40px 0; }

.about-header:hover {
  transform: scale(1.1); }

.projects-header:hover {
  transform: scale(1.1); }

.contact-header:hover {
  transform: scale(1.1); }

.welcome {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-image: url("/images/emile-perron-unsplash.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative; }

.welcome h3 {
  position: absolute;
  font-size: 1.6em;
  text-shadow: 2px 2px #7a7a7ad7;
  top: 50%;
  padding-left: 3%;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  letter-spacing: 0.1em;
  /* Adjust as needed */
  animation: typing 2s steps(100, end); }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 55%; } }

.about {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: minmax(310px, 0.5fr) 1fr;
  background: #b37856bf;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-content: center; }
  @media only screen and (max-width: 375px) {
    .about {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      width: 100vw; } }

.title {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  align-self: center;
  justify-self: center; }

.headshot-div {
  margin-left: 10px;
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  display: grid;
  align-self: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden; }

.headshot {
  height: 400px;
  width: auto; }

.about-div {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  align-self: center;
  margin: 0 10px; }

.about-p {
  font-family: "Raleway";
  font-weight: 100;
  font-size: 14px; }

.projects {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: grid;
  grid-template-rows: 50px repeat(3, 1fr);
  align-content: center;
  justify-content: center;
  margin: 10px 0;
  padding: 10px;
  background: #c59a93da;
  border-radius: 10px; }
  @media only screen and (max-width: 375px) {
    .projects {
      grid-row: 4 / 5;
      grid-column: 1 / 2; } }

.title {
  grid-row: 1 / 2;
  display: grid;
  justify-self: center;
  left: 50%;
  font-size: 2em; }

.project1 {
  grid-row: 2 / 3; }

.project2 {
  grid-row: 3 / 4; }

.project3 {
  grid-row: 4 / 5; }

.contact {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr;
  background: #b37856bf;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px; }
  @media only screen and (max-width: 375px) {
    .contact {
      grid-row: 5 / 6;
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column; } }

#fs-frm-inputs {
  background-color: rgba(255, 255, 255, 0.534);
  border: none;
  border-radius: 10px; }

#fs-frm {
  display: flex;
  flex-direction: column; }

.title {
  grid-row: 1 / 2;
  grid-column: 1 / -1; }

.email-div {
  grid-row: 2 / -1;
  grid-column: 1 / 2; }

.social-div {
  grid-row: 2 / -1;
  grid-column: 2/ -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.media {
  display: flex;
  margin: 0 5px; }

.media a {
  text-decoration: none; }

.footer {
  grid-column: 3 / 4;
  grid-row: 5 / -1;
  background: #c59a93da;
  font-size: 16px;
  font-weight: 100;
  font-family: "Raleway";
  display: grid;
  align-content: center;
  padding: 5px;
  margin-top: 5px;
  border-radius: 10px 10px 0 0; }
  @media only screen and (max-width: 375px) {
    .footer {
      grid-row: 6 / -1;
      grid-column: 1 / 2; } }
