.about{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: minmax(310px, .5fr) 1fr;
    background: $c-two;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
  }
  
  .title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    align-self: center;
    justify-self: center;
  }

  .headshot-div {
    margin-left: 10px;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    display: grid;
    align-self: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .headshot {
    height: 400px;
    width: auto;
  }
  
  .about-div{
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    align-self: center;
    margin: 0 10px;
  }
  
  .about-p {
    font-family: $f-Raleway;
    font-weight: 100;
    font-size: 14px;
  }