.header {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    background: #483d8bab;
    height: 100vh;
    width: 100px;
    position: sticky;
    top: 0;
  
    @media only screen and (max-width: $s-iphone6){
      grid-row: 1 / 2 ;
    }
  }
  
  .initials {
    font-family: $f-BadScript, cursive;
    font-size: 24px;
  }