.welcome {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-image: url("/images/emile-perron-unsplash.jpg");
    background-position: center;
    background-size: 100%;
    // width: auto;
    background-repeat: no-repeat;
    position: relative;
    @media only screen and (max-width: $s-iphone6) {
      // grid-row: 2 / 3;
      // grid-column: 1 / 2;
      // background-size: 75%;
    }
  }
  
  .welcome h3 {
    position: absolute;
    font-size: 1.6em;
    text-shadow: 2px 2px #7a7a7ad7;
    top: 50%;
    padding-left: 3%;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: 0.1em; /* Adjust as needed */
    animation: typing 2s steps(100, end);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 55%;
    }
  }
  